{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}

    <div class="slider">
        <div class="container">
            <h1>{% trans "Account Inactive" %}</h1>
        </div>
    </div>
    <div id="corps" class="container">

        <div class="bloc-titre">
            <h2>{% trans "Account Inactive" %}</h2>
        </div>
        <div class="text-center">
            <p>{% trans "This account is inactive." %}</p>
        </div>
    </div>

{% endblock %}
