{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="slider">
        <div class="container">
            <h1>{% trans "Password Reset" %}</h1>
        </div>
    </div>

    <div id="corps" class="container">   
        <div class="bloc-titre">
            <h2>{% trans "Password Reset" %}</h2>
            <p class="consigne">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>

        <div class="text-center">
            {% if user.is_authenticated %}
                <div class="row">
                    {% include "account/snippets/already_logged_in.html" %}
                </div>
            {% endif %}
            <div class="row">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset col-md-4 col-md-offset-4">
                    {% csrf_token %}
                    {% bootstrap_field form.email show_label=False %}
                    <p><input class="btn" type="submit" value="{% trans 'Reset My Password' %}" /></p>
                </form>
            </div>
            <div class="row">
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
