{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="slider">
        <div class="container"><h1>{% trans "Change Password" %}</h1></div>
    </div>

    <div id="onglets" class="container">
        <ul class="list-inline col-sm-12">
            <li class="col-sm-2 col-sm-offset-4 col-xs-4 active"><a href="/profile">Mon profil</a></li>
            <li class="col-sm-2 col-xs-4"><a href="/covoiturage/user-list-offers">Mes covoiturages</a></li>
        </ul>
    </div>

    <div id="corps" class="container">
        <div class="bloc-titre">
            <h2>{% trans "Change Password" %}</h2>
        </div>
        
        <div class="text-center">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change col-md-4 col-md-offset-4">
                {% csrf_token %}
                {% bootstrap_field form.oldpassword show_label=False %}
                {% bootstrap_field form.password1 show_label=False %}
                {% bootstrap_field form.password2 show_label=False %}
                <p><button class="btn" type="submit" name="action">{% trans "Change Password" %}</button></p>
            </form>
        </div>
    </div>    
{% endblock %}
