{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="slider">
        <div class="container"><h1>{% trans "Set Password" %}</h1></div>
    </div>

    <div id="onglets" class="container">
        <ul class="list-inline col-sm-12">
            <li class="col-sm-2 col-sm-offset-3 col-xs-4 active"><a href="/profile">Mon profil</a></li>
            <li class="col-sm-2 col-xs-4"><a href="/covoiturage/user-list-offers">Mes covoiturages</a></li>
            <li class="col-sm-2 col-xs-4"><a href="#">Mes échanges</a></li>
        </ul>
    </div>

    <div id="corps" class="container">   
        <div class="bloc-titre">
            <h2>{% trans "Set Password" %}</h2>
        </div>
        
        <div class="text-center">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_change col-md-4 col-md-offset-4">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p><input class="btn" type="submit" name="action" value="{% trans 'Set Password' %}" /></p>
            </form>
        </div>
    </div>    
{% endblock %}