{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="slider">
        <div class="container">
            <h1>{% trans "Change Password" %}</h1>
        </div>
    </div>

    <div id="corps" class="container">   
        <div class="bloc-titre">
            <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
        </div>
        <div class="text-center">
            <p>
                {% if token_fail %}
                    {% trans "Bad Token" %}
                {% else %}
                    {% trans 'Your password is now changed.' %}
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}