{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="slider">
    <div class="container">
        <h1>{% trans "Sign Up" %}</h1>
    </div>
</div>
<div id="corps" class="container">

    <div class="bloc-titre">
        <h2>{% trans "Sign Up" %}</h2>
    <p class="consigne">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </div>
    
    <div class="text-center">
        <form class="signup col-md-4 col-md-offset-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% bootstrap_field form.username show_label=False %}
            {% bootstrap_field form.email show_label=False %}
            {% bootstrap_field form.password1 show_label=False %}
            {% bootstrap_field form.password2 show_label=False %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn" type="submit">{% trans "Sign Up" %}</button>
        </form>
    </div>
</div>
{% endblock %}
