{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="slider">
        <div class="container"><h1>{% trans "Sign Up Closed" %}</h1></div>
    </div>

    <div id="corps" class="container">
        <div class="bloc-titre">
            <h2>{% trans "Sign Up Closed" %}</h2>
        </div>
        
        <div class="text-center">
            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
{% endblock %}
